main {
  display: flex;
  flex-direction: column;
  /* opacity: 0.4; */
}

main.closed {
  opacity: 0.4;
}

main.opened {
  opacity: 1;
}

#contact-modal {
  display: none;
  position: absolute;
  top: 69px;
  width: 670px;
  align-self: center;
  box-shadow: -5px 10px 30px 0px rgba(0, 0, 0, 0.25);
}

form input {
  display: flex;
  width: 599px;
  height: 68px;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

form input:focus,
textarea:focus,
#close-modal-btn:focus {
  outline: 4px solid #901c1c;
}

#open-modal-btn,
.menu-item,
.contact-button {
  transition: all 0.3s ease;
  outline: none;
  background: #901c1c;
}
#open-modal-btn:focus,
.menu-item:focus,
.contact-button:focus {
  background-color: #c40d0d;
  border: 2px solid black;
}
#open-modal-btn:active,
.menu-item:active {
  top: 2px;
}

textarea {
  width: -webkit-fill-available;
  height: 170px;
  border-radius: 5px;
  background-color: #fff;
  resize: none;
  font-size: 24px;
}

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
}

form .contact-button {
  font-size: 18px;
}
.photograph-header button {
  font-size: 20px;
}

.contact-button {
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 26px;
  justify-self: center;
}

.modal-container.closed {
  display: none;
}

.modal-container.opened {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 35px;
  position: absolute;
  width: 100%;
  overflow-y: auto;
  height: 100%;
  align-self: center;
}

.modal {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 19px;
  width: 670px;
  padding: 35px;
  background-color: #db8876;
  border-radius: 5px;
}

.modal header {
  width: 100%;
  height: auto;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: left;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
  font-weight: 600;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: -webkit-fill-available;
  height: 68px;
  border: none;
  border-radius: 5px;
  font-size: 24px;
}

.no-scroll {
  overflow: hidden;
  /* width: 100%; */
  width: calc(100% - 17px);
}

.hidden-scrollbar {
  /* width du scrollbar = 17px */
  right: calc(36px + 17px);
  /* right: 36px; */
}

.displayed-scrollbar {
  right: 36px;
}

.lightbox-container.closed {
  display: none;
}

.lightbox-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lightbox {
  display: grid;
  grid-template-columns: 96px 850px 96px;
  grid-template-rows: 64px 632px 64px;
  justify-items: center;
}

.previous-button {
  grid-area: 2 / 1 / 3 / 2;
}

.next-button {
  grid-area: 2 / 3 / 3 / 4;
}

.close-button {
  grid-area: 1 / 3 / 2 / 4;
}

.lightbox-media {
  border-radius: 5px;
  object-fit: cover;
  grid-area: 1 / 2 / 3 / 3;
  width: 850px;
  height: 700px;
  order: 2;
}

.lightbox-title {
  color: #901c1c;
  font-size: 24px;
  font-weight: 400;
  grid-area: 3 / 2 / 4 / 3;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.previous-button,
.next-button {
  align-self: center;
}

.fa-xmark {
  width: 72px;
  height: 72px;
  font-size: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-xmark:hover {
  cursor: pointer;
}

.lightbox span {
  color: #901c1c;
  font-size: 56px;
  width: 100%;
  height: 100%;
  /* border: 3px solid #901c1c; */
}

/* .lightbox button:focus,
#close-modal-btn:focus {
  box-shadow: 0 0 0 0.25rem white, 0 0 0 0.5rem #901c1c;
}

.lightbox button:active,
#close-modal-btn:active {
  box-shadow: none;
} */

.lightbox span:hover {
  cursor: pointer;
}

#close-modal-btn span {
  width: 60px;
  color: #fff;
  display: flex;
  justify-content: flex-end;
}

.lightbox button,
#close-modal-btn {
  background-color: transparent;
  display: flex;
  justify-content: center;
  width: 72px;
  height: 72px;
  align-items: center;
  border: 0;
  box-sizing: content-box;
}

#close-modal-btn {
  align-self: flex-start;
  margin: 0;
  padding: 0;
}

.date {
  display: none;
}

.sort-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  margin: 0 100px;
  margin-top: 60px;
}

.select-menu {
  width: 170px;
  height: 57px;
  position: relative;
  background-color: #901c1c;
  border-radius: 5px;
}

.menu-item,
.menu-item-selected {
  align-items: center;
  background-color: #901c1c;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-size: 18px;
  font-weight: 700;
  height: 57px;
  justify-content: space-between;
  padding: 10px 20px;
  text-align: left;
  user-select: none;
  width: 170px;
}

.menu-item-selected:focus,
#open-modal-btn:focus {
  background-color: #c40d0d;
}

.fa-chevron-down {
  align-items: center;
  color: white;
  font-size: 18px;
  height: 32px;
  justify-content: center;
  position: absolute;
  right: 10px;
  width: 32px;
}

.fa-chevron-down.shown {
  display: flex;
}

.fa-chevron-down.hidden {
  display: none;
}

.menu-items {
  background-color: #901c1c;
  border-radius: 5px;
  height: 170px;
  position: absolute;
  top: 0px;
  width: 170px;
  z-index: 1;
}

.menu-item {
  position: relative;
  text-align: left;
  display: flex;
  align-items: center;
  /* order: 1; */
}

.menu-items.closed {
  display: none;
}

.menu-items.opened {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}
